@font-face {
  font-family: "Hyndai";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Hyndai/HyundaiSansHeadOffice-Light.eot");
  src: url("../fonts/Hyndai/HyundaiSansHeadOffice-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Hyndai/HyundaiSansHeadOffice-Light.woff") format("woff"), url("../fonts/Hyndai/HyundaiSansHeadOffice-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Hyndai";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Hyndai/HyundaiSansHeadOffice-Regular.eot");
  src: url("../fonts/Hyndai/HyundaiSansHeadOffice-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Hyndai/HyundaiSansHeadOffice-Regular.woff") format("woff"), url("../fonts/Hyndai/HyundaiSansHeadOffice-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Hyndai";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Hyndai/HyundaiSansHeadOffice-Medium.eot");
  src: url("../fonts/Hyndai/HyundaiSansHeadOffice-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Hyndai/HyundaiSansHeadOffice-Medium.woff") format("woff"), url("../fonts/Hyndai/HyundaiSansHeadOffice-Medium.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Hyndai", sans-serif; }

html, body {
  overflow-x: hidden;
  height: 100%; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Hyndai", sans-serif;
  border: 1px solid #8D7449;
    border-radius: 14px;
  padding: 0 31px;
  color: #000000;
  font-size: 24px;
  font-weight: normal;
  width: 100%;
  height: 54px;
  background: transparent; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #8D7449;
    font-weight: 300; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #8D7449;
    font-weight: 300; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #8D7449;
    font-weight: 300; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #8D7449;
    font-weight: 300; }

input:disabled {
  border: 1px solid #CFC8C2;
  background: #fff; }
  input:disabled::-webkit-input-placeholder {
    color: #CFC8C2; }
  input:disabled::-moz-placeholder {
    color: #CFC8C2; }
  input:disabled::-ms-input-placeholder {
    color: #CFC8C2; }
  input:disabled::placeholder {
    color: #CFC8C2; }

label {
  display: block;
  width: 100%;
  margin: 0 0 23px; }
  label:last-child {
    margin: 0; }

.form {
  font-size: 24px;
  font-weight: 300;
  width: 100%; }
  .form .btn {
    margin: 40px auto 0; }

.links-group {
  margin: 50px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }
  .links-group a {
    margin: 0 auto 13px; }
    .links-group a:last-child {
      margin: 0 auto; }

.links-accent {
  color: #8D7449; }
  .links-accent:hover {
    color: #000; }

.links-opacity {
  color: #CFC8C2; }
  .links-opacity:hover {
    color: #8D7449; }

button {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  font-family: "Hyndai", sans-serif;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  outline: none;
  padding: 0;
  border: none;
    border-radius: 14px;
  font-size: 24px;
  width: 100%;
  height: 54px; }

.btn-group {
  width: 100%; }
  .btn-group .btn {
    width: 100%;
    margin: 0 0 29px; }

.btn-accent {
  background: #8D7449;
  color: #fff;
  font-weight: 500; }
  .btn-accent:hover {
    background: #c8a568;
    color: #fff; }

.btn-border {
  border: 1px solid #8D7449;
  font-weight: 300;
  color: #8D7449; }
  .btn-border:hover {
    background: #8D7449;
    color: #fff; }

.wrapper {
  background: url("../img/bg.png") repeat top center;
  min-height: 100%;
  max-width: 414px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 0 0 72px; }

.p0 {
  padding: 0; }

.wrapper-content {
  height: 100%;
  position: relative;
  z-index: 1;
  color: #fff; }

.home, .entrance {
  height: 100vh; }

.container {
  padding: 0 20px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.img-bg {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1; }

.home-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 96px 20px 0;
  width: 100%;
  height: 100%; }

.home-default h1, .home-default .box-greeting {
  display: none;
  -webkit-transition: .3s ease;
  transition: .3s ease; }

.logo {
  margin: 0 auto 22px; }

.home-load {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .home-load .home-content {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0; }
    .home-load .home-content .logo, .home-load .home-content .subtitle {
      display: none;
      -webkit-transition: .3s ease;
      transition: .3s ease; }
  .home-load .img-bg {
    height: calc(100% - 248px); }
  .home-load h1 {
    padding: 21px;
    font-weight: 500;
    color: #fff; }
  .home-load .box-greeting {
    display: block; }

h1 {
  font-size: 36px;
  font-weight: 700; }

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #8D7449;
  width: 100%; }

h3 {
  font-size: 24px;
  font-weight: bold; }

.status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .status-icon {
    margin: 0 6px 0 0;
    width: 12px;
    min-width: 12px; }

.box-greeting {
  width: 100%;
  background: #fff;
  padding: 49px 20px 120px;
  border-radius: 22px 22px 0 0;
  -webkit-backdrop-filter: blur(22px);
          backdrop-filter: blur(22px); }

.entrance {
  background: #fff;
  color: #000000; }
  .entrance h1 {
    margin: 0 auto 50px;
    text-align: center; }
  .entrance .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.w-100 {
  width: 100%; }

header {
  padding: 37px 0; }
  header .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px; }

.btn-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 28px;
  cursor: pointer; }
  .btn-burger span {
    background: #fff;
    display: block;
    height: 2px;
    width: 100%;
    margin: 0 0 5px; }
    .btn-burger span:last-child {
      margin: 0; }
    .btn-burger span:first-child {
      width: 25px; }
    .btn-burger span:nth-child(2) {
      width: 19px; }

.tabs__caption {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 18px;
  font-weight: 500; }
  .tabs__caption li {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    border: 1px solid #8D7449;
    height: 54px;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    cursor: pointer;
    margin: 0 -1px 0 0; }
    .tabs__caption li:before {
      content: '';
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-top: 7px solid #8D7449;
      bottom: -7px;
      display: none;
      -webkit-transition: .3s ease;
      transition: .3s ease; }
  .tabs__caption .active {
    background: #8D7449;
    color: #fff; }
    .tabs__caption .active:before {
      display: block; }

.tabs__content {
  padding: 40px 0;
  display: none; }

.tabs__content.active {
  display: block; }

.car-card {
  width: 100%;
  margin: 0 0 40px;
  font-size: 14px;
  color: #fff; }
  .car-card h3 {
    margin: 4px 0 8px; }

.car-card-img {
  margin: 0 0 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 178px;
  overflow: hidden; }
  .car-card-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%; }

footer {
  background: #fff;
  -webkit-box-shadow: 0 0 25px -14px rgba(22, 61, 125, 0.3);
          box-shadow: 0 0 25px -14px rgba(22, 61, 125, 0.3);
  padding: 22px 0 25px;
  margin: auto 0 0;
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 0;
  width: 100%;
  max-width: 414px;
  z-index: 2; }
  footer .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 48px; }

.links-menu {
  stroke: #000000;
  fill: none;
  width: 25px;
  height: 23px; }
  .links-menu:hover {
    stroke: #8D7449; }

.btn-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 29px;
  height: 19px; }
  .btn-toggle span {
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
  .btn-toggle:hover span {
    background: #8D7449; }

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 20px 0; }

.btn-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  .btn-prev .svg-icon {
    stroke: #fff;
    margin: 0 8px 0 0;
    width: 25px;
    height: 10px;
    fill: none; }

.article-box {
  font-size: 18px;
  font-weight: 300;
  color: #000000; }
  .article-box .date {
    margin: 0 0 20px;
    color: #CFC8C2;
    font-size: 14px;
    font-weight: 300; }
  .article-box h3 {
    margin: 0 0 20px;
    color: #8D7449;
    font-size: 24px;
    font-weight: bold; }

.box-text p {
  margin: 0 0 20px; }
  .box-text p:last-child {
    margin: 0; }

.box-text span {
  font-size: 14px; }

.color-opacity {
  color: #CFC8C2; }

.article-box__img {
  width: 100%;
  position: relative; }
  .article-box__img:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(359.27deg, #000000 -25.47%, rgba(0, 0, 0, 0) 133.06%);
    background-blend-mode: multiply, normal; }
  .article-box__img img {
    width: 100%; }

.article-box__body {
  padding: 20px; }

.bg-white {
  background: #fff;
  color: #000000; }

.recommended-article {
  margin: 27px 0 0; }
  .recommended-article h2 {
    margin: 0 0 20px; }

.row-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.recommended-article-item {
  width: 49%;
  height: 185px;
  position: relative;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 18px;
  font-weight: bold;
  border-radius: 2px;
  overflow: hidden;
  margin: 0 0 19px; }
  .recommended-article-item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }
  .recommended-article-item span {
    display: inline-block;
    padding: 11px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0; }
  .recommended-article-item:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); }

.header-two {
  color: #fff; }
  .header-two .btn-prev {
    position: absolute;
    left: 20px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    font-size: 16px;
    color: #CFC8C2; }
    .header-two .btn-prev .svg-icon {
      stroke: #CFC8C2; }
  .header-two .container {
    position: relative; }
  .header-two h3 {
    text-align: center;
    margin: 0 auto;
    max-width: 206px;
    width: 100%;
    font-weight: 500; }

.form-add {
  margin: 0 0 40px; }
  .form-add input {
    color: #fff; }
    .form-add input::-webkit-input-placeholder {
      color: #fff; }
    .form-add input::-moz-placeholder {
      color: #fff; }
    .form-add input::-ms-input-placeholder {
      color: #fff; }
    .form-add input::placeholder {
      color: #fff; }

.label-file {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px; }

.label-file-icon {
  background: #8D7449;
  width: 54px;
  height: 54px;
  min-width: 54px;
  border-radius: 14px;
  position: relative; }
  .label-file-icon:before, .label-file-icon:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: #fff; }
  .label-file-icon:before {
    width: 30px;
    height: 1px; }
  .label-file-icon:after {
    width: 1px;
    height: 30px; }

.label-file-text {
  margin: 0 0 0 20px; }

.input-file {
  display: none; }

.label-file-photo {
  border: 1px solid #8D7449;
    border-radius: 14px;
  padding: 10px 12px; }
  .label-file-photo .label-file-icon {
    width: 33px;
    height: 33px;
    min-width: 33px; }
    .label-file-photo .label-file-icon:before {
      width: 20px; }
    .label-file-photo .label-file-icon:after {
      height: 20px; }
  .label-file-photo .label-file-text {
    margin: 0 0 0 13px; }

.result-loading {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .result-loading .label-file {
    width: auto;
    margin: 0 0 10px; }

.load-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 84px;
  height: 74px;
  border: 1px solid #8D7449;
    border-radius: 14px;
  cursor: pointer;
  margin: 0 0 10px; }
  .load-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 14px; }
  .load-img:hover .btn-delete {
    opacity: 1; }

.btn-delete {
  top: -9px;
  right: -2px;
  opacity: 0;
  position: absolute;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background: #8D7449; }
  .btn-delete:before, .btn-delete:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 9px;
    height: 1px;
    top: 11px;
    left: 7px; }
  .btn-delete:before {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  .btn-delete:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }

.menu-section {
  margin: 0 0 30px; }

.menu {
  font-size: 24px; }
  .menu li {
    margin: 0 0 32px; }
    .menu li:last-child {
      margin: 0; }

.menu-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff; }
  .menu-links:hover {
    color: #8D7449; }

.fill-none {
  fill: none; }

.menu-icon {
  width: 32px;
  min-width: 32px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 15px 0 0;
  fill: none;
  stroke: #8D7449; }

.menu-cabinet .menu-icon .svg-icon {
  width: 26px;
  height: 22px; }

.menu-footer {
  margin: auto 0 80px; }

.product-page {
  overflow: hidden; }

.product-page-home {
  width: 100%; }
  .product-page-home h1 {
    font-size: 64px; }

.product-img {
  width: 541px;
  max-width: none;
  margin: -100px -100px 0 20px; }

.bg-grey {
  background: #495350; }

.bg-black {
  background: #000000; }

.bg-white {
  background: #fff; }

.bg-brown {
  background: #463E3D; }

.bg-red {
  background: #380D15; }

.characteristics-box {
  margin: 30px 0 0; }
  .characteristics-box h2 {
    color: #fff;
    margin: 0 0 15px; }

.characteristics-product {
  width: 100%;
  margin: 0 0 50px; }

.list-colors {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .list-colors li {
    margin: 0 20px 10px 0; }
    .list-colors li:last-child {
      margin: 0 0 10px; }
    .list-colors li span {
      cursor: pointer;
      display: block;
      border: 3px solid #fff;
        border-radius: 50%;
      width: 40px;
      height: 40px; }

.list-characteristics {
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 50px; }
  .list-characteristics li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 8px 0;
    border-bottom: 0.5px solid #CFC8C2; }
    .list-characteristics li:last-child {
      border: none; }
    .list-characteristics li span {
      text-align: right;
      font-weight: normal;
      display: inline-block; }

.panel_heading {
  width: 100%;
  margin: 0 0 15px;
  padding: 16px 15px 0;
  background: #8D7449;
  font-size: 14px;
  cursor: pointer; }
  .panel_heading:last-child {
    margin: 0; }

.block_title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 0 0 16px; }
  .block_title h3 {
    font-size: 18px;
    margin: 0 0 0 11px; }
  .block_title:after {
    content: '';
    margin: 0 0 0 auto;
    width: 13px;
    height: 6px;
    background: url("../img/arrow-bottom.svg") no-repeat center;
      background-size: contain; }

.block_hover {
  display: none;
  padding: 0 0 16px; }

.in .block_title:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.preloader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.loader {
  -webkit-animation: loader 800ms step-end infinite;
          animation: loader 800ms step-end infinite;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg); }
  .loader path {
    fill: #8D7449; }

@-webkit-keyframes loader {
  12.5% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  37.5% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  62.5% {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg); }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg); }
  87.5% {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes loader {
  12.5% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
  37.5% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg); }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  62.5% {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg); }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg); }
  87.5% {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 360px) {
  h3 {
    font-size: 22px; }
  .header-two h3 {
    max-width: 150px; }
  input, .form, .btn, .label-file, .menu {
    font-size: 18px; }
  .entrance h1 {
    margin: 0 auto 30px; }
  h1 {
    font-size: 30px; }
  .links-group a {
    margin: 0 auto 10px; }
  .links-group {
    margin: 30px auto 0; }
  .recommended-article-item {
    font-size: 16px; }
  footer {
    padding: 20px 0; }
    footer .container {
      padding: 0 20px; }
  .wrapper {
    padding: 0 0 65px; }
  header {
    padding: 20px 0; }
  .menu-footer {
    margin: auto 0 30px; } }
