@import "vars"


/* Custom, iPhone Retina */
@media only screen and (max-width: 360px)
  h3
    font-size: 22px

  .header-two h3
    max-width: 150px

  input, .form, .btn, .label-file, .menu, textarea, .btn-next, .list-timepicker__links, .select, .registration-service .tabs__caption li, .ui-datepicker table, .ui-datepicker .ui-datepicker-title
    font-size: 18px

  .entrance h1
    margin: 0 auto 30px

  h1
    font-size: 30px

  .links-group a
    margin: 0 auto 10px

  .links-group
    margin: 30px auto 0

  .recommended-article-item
    font-size: 16px

  footer
    padding: 20px 0
    .container
      padding: 0 20px

  .wrapper
    padding: 0 0 65px


  header
    padding: 20px 0

  .menu-footer
    margin: auto 0 30px

  .modal-confirmation
    padding: 30px
    font-size: 18px
    .btn-group
      a
        font-size: 18px
    p
      margin: 20px auto
    h3
      font-size: 22px